<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ '/' | absolute_url }}"><img width="{{ site.theme_logo.desktop_width }}" height="{{ site.theme_logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.theme_logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ '/' | absolute_url }}"><img width="{{ site.theme_logo.mobile_width }}" height="{{ site.theme_logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.theme_logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include main-menu-mobile.html %}
    {% include hamburger.html %}
  </div>
</div>
